.App {
  text-align: center;
}

.App-dark {
  text-align: center;
  background-color: black;
  color: white;
  min-height: 100vh;
  /* vh --> protsentides vaate kõrgus (view height) */
}

.pilt {
  height: 100px;
  /* width: 100px; */
  border-radius: 10px;
}

.pilt:hover {
  opacity: 70%;
  cursor: pointer;
}

.pilt:active {
  /* height: 95px; */
  transform: scale(0.95);
}

.nupp {
  background-color: brown;
  color: white;
  border-radius: 3px;
}

.nupp:hover {
  background-color: maroon;
  cursor: pointer;
}

.nupp:active {
  background-color: brown;
  text-decoration: underline;
}

.summa {
  background-color:beige;
  font-size: 30px;
  margin: 10px;
  border-radius: 5px;
}

.aktiivne-summa {
  background-color:beige;
  font-size: 30px;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid purple;
  color: purple;
}

.kuldne {
  color: goldenrod;
}